@{ 
    ViewBag.Title = "Not Found";
}

    <div class="text-center">
        <h1 class="display-4">Not Found</h1>
        <p>@ViewBag.ErrorMessage</p>
        @Html.ActionLink("Click here to return home.", "Index", "Home")
    </div>