@{
    ViewData["Title"] = "About";
}

<div class="text-left">
    <h1 class="display-4">About G Server</h1>
    <p>G Server is a private website written as a learning project to add various functionality to a home server. Logins can only be granted by an administrator. G Server is written using ASP.net Core with Blazor components.</p>
</div>

